# Maven specific
/target/
.mvn/
*.iml

# IDE specific
.idea/
*.ipr
*.iws
*.log

# Eclipse specific
.classpath
.project
.settings/

# Java specific
*.class

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
